$font-primary: Sometype Mono;
$font-secondary: Almendra Display;
$font-tertiary: The Girl Next Door;
$font-quarternary: Amatic SC;
$font-quinary: Aboreto;
$font-senary: Corben;
$font-septenary: Google Sans Code;

