@use'_colors.scss' as c;
@use '_fonts.scss' as f;

*{
    box-sizing: border-box;
}

body{
    background-color: c.$color-primary;
    font-family: f.$font-primary;
}

.header__top{
    .burger-menu{
        display:flex;
        justify-content:center;
        align-items:center;
        position:fixed;
        right:15px;
        font-size:2.5rem;
        background:none;
        color:$color-secondary;
        border:none;
      }

    .nav__list{
        display:none;
    }

}



.homepage__picture {
    img {
      width: 150px; 
      height: 150px; 
      object-fit: cover;
      border-radius: 50%;
      display: block; 
      margin: 0 auto;
    }
  }

.homepage__introtext{
    color: c.$color-secondary;

    .homepage__introtext--links{
        img{
            width: 30px;
            height: auto;
        }
    }
}

.homepage__projects{
    color: c.$color-secondary;

    .homepage__projects--items a{
        color:c.$color-teritary;

    }
}

.social__text{
    color: c.$color-secondary;
}

.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
        
       .footer__links{
            display: inline-block;
            position: relative;
        
          .footer__links::after {
            content: "";
            position: absolute;
            left: 0;
            bottom:-5px;
            width: 0;
            height:2px;
            transition: width 0.3s ease;
        
                .footer__links:hover::after {
                    width: 100%;
                }
            }
            img {
                width: 30px;
                height: auto;
              }
        }

}

