@use'_colors.scss' as c;
@use '_fonts.scss' as f;

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: c.$color-primary;
    color: c.$color-secondary;
    font-family: f.$font-primary;
    line-height: 1.5;
    padding-inline: 20px;
    max-width: 78ch;
    margin-inline: auto;
}

a {
    color: c.$color-teritary;
    text-decoration: none;
}

header{
    padding-block: 16px;


    .header__top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
        margin-inline: auto;

            .header__logo{
                .logo__link{
                    text-decoration: none;

                    .header__logo--name{
                        font-weight: 700;
                        letter-spacing: 0.03em;
                        color: c.$color-secondary;
                        text-decoration: none;
                    }
                }
            }
        
            .burger-menu{
                display:flex;
                justify-content:center;
                align-items:center;
                position:fixed;
                right:15px;
                font-size:2.5rem;
                background:none;
                color: c.$color-secondary;
                border:none;
            }

            .nav__list{
                display:none;
            }

    }

}

.homepage__picture {
    img {
      width: 150px; 
      height: 150px; 
      object-fit: cover;
      border-radius: 50%;
      display: block; 
      margin: 0 auto;
    }
  }

.homepage__introtext{
    color: c.$color-secondary;

    .homepage__introtext--links{
        img{
            width: 30px;
            height: auto;
        }
    }
}

.homepage__projects{
    color: c.$color-secondary;

    .homepage__projects--items a{
        color:c.$color-teritary;

    }
}

.social__text{
    color: c.$color-secondary;
}

.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
        
       .footer__links{
            display: inline-block;
            position: relative;
        
          &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom:-5px;
            width: 0;
            height:2px;
            transition: width 0.3s ease;
        
                &:hover::after {
                    width: 100%;
                }
            }
            img {
                width: 30px;
                height: auto;
              }
        }

}

@media (min-width: 600px){

    .burger-menu{
        display: none;
    }
}




